<app-header></app-header>
<app-side-bar></app-side-bar>
<div style="margin:10px 0 0 280px">
  <h3>EDIT PRODUCT</h3>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="product.name">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Price</label>
      <input type="number" class="form-control" name="price" [(ngModel)]="product.price">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">IMG</label>
      <input type="text" class="form-control" name="image" [(ngModel)]="product.image">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Description</label>
      <input type="text" class="form-control" name="desc" [(ngModel)]="product.desc">
    </div>

    <button type="submit" class="btn btn-primary" (click)="updateProduct()">Submit</button>
  </form>
</div>
