  <div class="content">
  <h3>MANAGE PRODUCTS</h3>
    <div class="btn btn-success col-md-3" [routerLink]="['/admin/product-add']">Add Product</div>
      <table class="table table-bordered">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let product of products">
          <th>{{product.id}}</th>
          <td>{{product.name}}</td>
          <td>{{product.price | currency: '$':true}}</td>
          <td>{{product.desc}}</td>
          <div class="btn btn-danger m-3" (click)="removeProduct(product.id)">Delete</div>
          <div class="btn btn-success m-3" [routerLink]="['/admin/product-manager', product.id]">Detail</div>
          <div class="btn btn-success m-3" [routerLink]="['/admin/product-manager','edit', product.id]">Edit</div>
        </tr>
      </table>

</div>
