<!-- <body>
<app-menu></app-menu>

<div class="container">

  <div class="row">
    <div class="col-lg-3">
      <app-category></app-category>
    </div>
    <div class="col-lg-9">
      <app-banner></app-banner>
      <app-list-product></app-list-product>
      <router-outlet></router-outlet>
    </div>

  </div>


</div>
</body>

<app-footer></app-footer> -->

<body>
  <div class="banner-top container-fluid" id="home">
    <app-menu></app-menu>
    <app-banner></app-banner>
  </div>

  <section class="banner-bottom-wthreelayouts py-lg-5 py-3">
		<div class="container-fluid">
			<div class="inner-sec-shop px-lg-4 px-3">
        <app-list-product></app-list-product>
			</div>
		</div>
	</section>

</body>
<app-footer></app-footer>
